body {
  text-align: center;
  background-image: url(/pictures/backGround.jpg);
  color: rgba(171, 179, 182, 0.983);
  background-size: cover;
}
.dark-mode-btn {
  background-color: #909d91;
  border: 10px;
  color: rgba(0, 0, 0, 0.933);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 6px;
  margin-bottom: 10px;
  cursor: pointer;
}
.dark-mode .dark-mode-btn {
  color: #ffffff;
  background-color: #8d8282;
}
.dark-mode {
  background-color: black;
  color: white;
  cursor: pointer;
}
.dark-mode footer {
  color: #ffffff;
}
.dark-mode .level-btn {
  color: #ffffff;
  background-color: #8d8282;
}

table {
  color: white;
  margin: auto;
  width: 250px;
  height: 250px;
}
.dark-mode td {
  background-color: rgb(0, 0, 0);
}
td {
  height: 20px;
  width: 20px;
  background-color: #c0c0c0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7b7b7b;
  border-bottom-color: #7b7b7b;
  border-left-color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

footer {
  text-align: center;
  padding: 10px;
  color: rgba(171, 179, 182, 0.983);
  font-size: 20px;
}

.level-btn {
  background-color: #909d91;
  border: 10px;
  height: 80px;
  width: 110px;
  color: rgba(0, 0, 0, 0.933);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.lives {
  font-size: 20px;
  padding: 15px;
}
button.smiley {
  font-size: 25px;
}

.timer {
  padding-bottom: 20px;
}
