body {
  text-align: center;
  background-color: rgb(89, 62, 62);
  color: wheat;
}

table {
  color: white;
  margin: auto;
  width: 250px;
  height: 250px;
}

td {
  height: 20px;
  width: 20px;
  background-color: #c0c0c0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7b7b7b;
  border-bottom-color: #7b7b7b;
  border-left-color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

footer {
  text-align: center;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
footer :hover {
  color: #7b7b7b;
}

.level-btn {
  background-color: #909d91;
  border: 10px;
  color: rgba(0, 0, 0, 0.933);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.lives {
  font-size: 20px;
  padding: 15px;
}
button.smiley {
  font-size: 25px;
}

.timer {
  padding-bottom: 20px;
}
